/server/.venv/
/.venv/

/.coverage
coverage.xml
backend-coverage.xml
coverage.json
*.xcresult

/build/
/Simigo/build/
/Simigo/DerivedData/

.DS_Store
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/

/server/.env
*.db
*.sqlite3
*.sqlite
*.log
